@use './_colors' as _color;


@font-face {
    font-family: 'corinthia';
    src: url('/fonts/corinthia/corinthia-bold.ttf') format('truetype'),
        url('/fonts/corinthia/corinthia-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'viaoda';
    src: url('/fonts/viaoda/viaoda-libre-regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'yusei-magic';
    src: url('/fonts/yusei-magic/yusei-magic-regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

h1 {
    font-family: 'viaoda';
    color: _color.$strong-purple;
}
h2 {
    font-family: 'viaoda';
    color: _color.$soft-purple;
}
h3 {
    font-family: 'viaoda';
    color: cadetblue;
}
p {
    color: _color.$soft-black;
    font-family: 'yusei-magic';
}