@use 'abstract' as *;


h1 {
    @include font-face('viaoda', '/fonts/viaoda/viaoda-libre-regular.ttf');
    font-family: 'viaoda';
    color: $color-PURPLE;
    text-align: center;
}
h2 {
    @include font-face('viaoda', '/fonts/viaoda/viaoda-libre-regular.ttf');
    font-family: 'viaoda';
    color: $color-purple;
    text-align: center;
}
h3 {
    @include font-face('viaoda', '/fonts/viaoda/viaoda-libre-regular.ttf');
    font-family: 'viaoda';
    color: $color-blue;
    text-align: center;
}
p, input {
    @include font-face('yusei-magic', '/fonts/yusei-magic/yusei-magic-regular.ttf');
    color: $color-black;
    font-family: 'yusei-magic';
}

// The entire application wrapped in it
#app {
    @include dev-style($color-egg, $color-black);
    padding: 5%;

    #header {
        // @include dev-style($color-egg, $color-red);

    }
    #login-form {
        // @include dev-style($color-egg, $color-red);
    }
    #user {
        // @include dev-style($color-egg, $color-red);
        text-align: center;
    }
    #shop {
        // @include dev-style($color-egg, $color-red);
    }
}


