$strong-purple: #ad3bf9;
$soft-purple: #daa9fa;
$strong-red: #ff4747;
$soft-red: #ffa8a8;
$strong-blue: #226cff;
$soft-blue: #abc7ff;
$strong-black: #373737;
$soft-black: #6e6e6e;

$font-size-large: 18px;
$padding-base: 10px;