$color-egg: #fff9eb;
$color-PURPLE: #ad3bf9;
$color-purple: #c984f7;
$color-RED: #ff4747;
$color-red: #ffa8a8;
$color-BLUE: #226cff;
$color-blue: #abc7ff;
$color-BROWN: #af601b;
$color-brown: #bc9471;
$color-BLACK: #373737;
$color-black: #6e6e6e;
$color-white: white;

$font-size-large: 18px;
$padding-base: 10px;