$color-egg: #fff9eb;
$color-PURPLE: #ad3bf9;
$color-purple: #daa9fa;
$color-RED: #ff4747;
$color-red: #ffa8a8;
$color-BLUE: #226cff;
$color-blue: #abc7ff;
$color-BLACK: #373737;
$color-black: #6e6e6e;

$font-size-large: 18px;
$padding-base: 10px;