@mixin font-face($name, $path) {
    @font-face {
        font-family: #{$name};
        src: url("#{$path}") format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}
@mixin dev-style($background-color, $border-color) {
    background-color: $background-color;
    border: solid $border-color 2px;
    border-radius: 20px;
  }