@mixin font-face($name, $path) {
    @font-face {
        font-family: #{$name};
        src: url("#{$path}") format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}
@mixin dev-style($color) {
    border: solid $color 2px;
    border-radius: 20px;
  }